.thirty {
  display: inline-block;
  vertical-align: top;
  width: 39%;
  text-align: left;
  padding: 1rem; }

.seventy {
  display: inline-block;
  vertical-align: top;
  width: 59%;
  text-align: left;
  padding: 1rem; }

.exampleBlock {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #f1f1f1; }
  .exampleBlock h1 {
    margin-top: 3rem; }
  .exampleBlock h3 {
    font-size: 2rem;
    line-height: calc(3rem * 1.5);
    margin-top: 3rem; }
  .exampleBlock p {
    margin-bottom: 2rem; }
    .exampleBlock p strong {
      font-weight: bold !important;
      color: #0294A5; }
  .exampleBlock select {
    line-height: 3rem;
    border: 1px solid #0c1433;
    padding-left: 1rem;
    padding-right: 3rem;
    font-size: 1.6rem; }
    .exampleBlock select:focus {
      outline: none; }

pre {
  background-color: #0c1433;
  padding: 2rem;
  border-radius: 0.5rem;
  color: #A79C93;
  font-size: 1.4rem; }
  pre .key {
    color: rgba(255, 255, 255, 0.7);
    margin-right: 1rem;
    font-size: 1.4rem; }
  pre .number {
    color: #f9cf00; }
  pre .string {
    color: #0294A5; }
  pre .boolean {
    color: #4484cE; }
  pre .number, pre .boolean, pre .string {
    margin-left: 1rem; }

.codeInline {
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #222636;
  margin-left: 1rem;
  font-weight: bold;
  color: #f76c6c;
  border-radius: 0.3rem;
  font-size: 1.4rem; }
  .codeInline .valInline {
    color: #f9cf00;
    margin-left: 0.4rem;
    margin-right: 0.4rem; }
